


 .grid-container {
    display: grid;
    grid-row-gap: 5px;
  }
  .modal-s{
      border-radius: 40px;
  }
  i.fa-trash
  {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.3em 0.4em;
    background-color: #FE7777;
  }
  i.fa-check
  {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.3em 0.3em;
    background-color: #79CB53;
    margin-right: 3px;
  }
  .card{
    box-shadow: 0 0 2px #888;
  }
 