<div style="display: flex; justify-content: center;">
    <form class="row g-2" style="width: 900px; display: flex; justify-content: center;">
        <div class="col-md-6 " style="margin-top:30px">
            <h3 style="margin-bottom: 20px;">Moji podaci:</h3>
        
        <div *ngIf="edit==false">

            <h5>Ime: {{ulogovaniKorisnik.ime}}</h5>
            <h5>Prezime: {{ulogovaniKorisnik.prezime}}</h5>
            <h5>Korisničko ime: {{ulogovaniKorisnik.kor_ime}}</h5>
            <h5>Broj telefona: {{ulogovaniKorisnik.telefon}}</h5>
            <h5>Grad: {{ulogovaniKorisnik.grad}}</h5>
            <h5>Ulica: {{ulogovaniKorisnik.ulica}}</h5>
            <h5>Broj: {{ulogovaniKorisnik.broj}}</h5>

        </div>

        <div *ngIf="edit">
            <tr>
                <td>
                    <h5>Ime: </h5>
                </td>
                <td><input id="ime" name="ime" type="text" style="width: 100%;" pInputText
                        [(ngModel)]="ulogovaniKorisnik.ime"></td>
            </tr>
            <tr>
                <td>
                    <h5>Prezime: </h5>
                </td>
                <td><input id="prezime" name="prezime" type="text" style="width: 100%;" pInputText
                        [(ngModel)]="ulogovaniKorisnik.prezime"></td>
            </tr>
            <tr>
                <td>
                    <h5 style="white-space: pre">Korisničko ime: </h5>
                </td>
                <td><input id="kime" name="kime" type="text" style="width: 100%;" pInputText
                        [(ngModel)]="ulogovaniKorisnik.kor_ime"></td>
            </tr>
            <tr>
                <td>
                    <h5>Broj telefona: </h5>
                </td>
                <td><input id="brtel" name="brtel" type="text" style="width: 100%;" pInputText
                        [(ngModel)]="ulogovaniKorisnik.telefon"></td>
            </tr>
            <tr>
                <td>
                    <h5>Grad: </h5>
                </td>
                <td><input id="grad" name="grad" type="text" style="width: 100%;" pInputText
                        [(ngModel)]="ulogovaniKorisnik.grad"></td>
            </tr>
            <tr>
                <td>
                    <h5>Ulica: </h5>
                </td>
                <td><input id="ulica" name="ulica" type="text" style="width: 100%;" pInputText
                        [(ngModel)]="ulogovaniKorisnik.ulica"></td>
            </tr>
            <tr>
                <td>
                    <h5>Broj: </h5>
                </td>
                <td><input id="broj" name="broj" type="text" style="width: 100%;" pInputText
                        [(ngModel)]="ulogovaniKorisnik.broj"></td>
            </tr>
            <div style="width:70%; display: flex; justify-content: right;">
                <button class="btn btn-darkbrown" style="width:25%" (click)="potvrdaPromena(false)">Potvrdi</button>
            </div>
        </div>
    </div>


        <div class="col-md-4" style=" margin-top: auto; margin-bottom: auto;">
            <div>
                <tr *ngIf="ulogovaniKorisnik.tip==0">
                    <i pBadge style="font-size: 2rem; " value="{{zahtevi.length}}">   <button class="btn btn-darkbrown" style="width:100%" (click)="openScrollableContent(Zahtevi)" >ZAHTEVI ZA PRIJATELJSTVO</button></i>
                   </tr>
                   <tr *ngIf="ulogovaniKorisnik.tip==0">
                       <button class="btn btn-darkbrown" style="width:100%" (click)="openScrollableContent(DodajPrijatelje)">DODAJ PRIJATELJA</button>
                   </tr>
                   <tr *ngIf="ulogovaniKorisnik.tip==0">
                       <button class="btn btn-darkbrown" style="width:100%" (click)="openScrollableContent(PogledajPrijatelje)" >POGLEDAJ SVE PRIJATELJE</button>
                   </tr>
                <tr>
                    <button class="btn btn-darkbrown" style="width:100%" (click)="edit=!edit">IZMENI PODATKE</button>
                </tr>
                <tr>
                    <button class="btn btn-darkbrown" style="width:100%" (click)="openScrollableContent(promenaLozinke)">PROMENI LOZINKU</button>
                </tr>
                <tr>
                    <button class="btn btn-darkbrown" style="width:100%" (click)="odjava()">ODJAVI SE <i class="fa fa-sign-out" aria-hidden="true"></i></button>
                </tr>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<ng-template #promenaLozinke let-modal >
    <div class="modal-header" style="height: 60px; width: 100%">
        <div class="modal-title">Promeni lozinku</div>
        <button type="button" class="close btn btn-lightbrown" aria-label="Close" id="prom_loz"
            (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-center">
      <form style="width: 60%;">
        <div class="grid-container" style="width: 100%;  margin-top: 30px; margin-bottom: 30px;">
          <tr>
            <h5>Prethodna lozinka</h5>
          </tr>
          <tr>
            <input id="pass" name="pass" type="password" style="width: 100%;" pInputText [(ngModel)]="staraLozinka">
          </tr>
          <tr>
            <h5>Nova lozinka</h5>
          </tr>
          <tr>
            <input id="password" name="password" type="password" style="width: 100%;" pInputText [(ngModel)]="novaLozinka">
          </tr>
          <tr>
            <h5>Lozinka</h5>
          </tr>
          <tr>
            <input id="password2" name="password2" type="password" style="width: 100%;" pInputText [(ngModel)]="novaLozinka2">
          </tr>
          <tr class="d-flex justify-content-end">
            <button class="btn btn-lightbrown " style="width: 50%;" (click)="potvrdaPromena(true)">Potvrdi</button>
          </tr>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- Modal -->
<ng-template #DodajPrijatelje let-modal>
    <div class="modal-header" style="height: 60px; width: 100%">
        <div class="modal-title">Dodaj prijatelja</div>
        <button type="button" class="close btn btn-lightbrown" aria-label="Close"
            (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-center">
      <form style="width: 60%;">
        <div class="grid-container" style="width: 100%;  margin-top: 30px; margin-bottom: 30px;">
          <tr>
            <h5>Korisničko ime:</h5> 
            <input id="pass" name="pass" type="text" style="width: 100%;" pInputText [(ngModel)]="korisnickoImeZahtev">
          </tr>
          <tr class="d-flex justify-content-end">
            <button class="btn btn-lightbrown " style="width: 50%;" (click)="dodajPrijatelja(); modal.dismiss('Cross click')">Potvrdi</button>
          </tr>
        </div>
      </form>
    </div>
  </ng-template>


  <ng-template #PogledajPrijatelje let-modal>
    <div class="modal-header lightbrown" style="height: 60px; width: 100%">
        <div class="modal-title">Pregled prijatelja</div>
        <button type="button" class="close btn btn-lightbrown" aria-label="Close"
            (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body lightbrown">
        <p-scrollPanel>
            <form class="row g-2" style="width: 95%;">
                <div class="col-md-3" *ngFor="let k of prijatelji let i = index"
                    style="text-align: center;">
                    <div class="item card c1" style="margin-left:1px; margin-right: 1px;">
                        <div class="card-body" style="position: relative;">
                            <h6 style=" font-size: 3vw; font-size: 12px;">{{k.ime}}</h6>
                            <h5 style=" font-size: 1vw; font-size: 8px; margin-left: 2px;">@{{k.kor_ime}}</h5>
                            <i class="fa fa-trash" aria-hidden="true" (click)="obrisiPrijatelja(k)"></i>
                        </div>
                    </div>
                </div>
            </form>
        </p-scrollPanel>
    </div>
    <form class="row g-2 lightbrown">
        <div class="col-md-7" >
            <div style="width: 100%; border-width: 5px; border-color: black;">
                <div class="input-group" style="display: flex; justify-content: center; vertical-align: center; margin-top: 5px;">
                    <span class="p-input-icon-left p-mb-2 p-mb-md-0" >
                        <i class="pi pi-search pretraga" (click)="handleSearch()" style="margin-left: 10px;"></i>
                        <input type="search" pinputtext="" placeholder="Pretraži prijatelje"
                            class="p-inputtext p-component p-element" (keyup)="handleSearch()" [(ngModel)]="sviPrijateljiPretraga" name="srch">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-5 " style="display: flex; justify-content: center;">
            <button class="btn btn-white" style="width: 50%; margin-top: 12px; margin-bottom: 30px"
                (click)="modal.dismiss('Cross click');">Potvrdi</button>
        </div>
    </form>
</ng-template>

<ng-template #Zahtevi let-modal>
    <div class="modal-header lightbrown" style="height: 60px; width: 100%">
        <div class="modal-title">Pregled zahteva za prijateljstvo</div>
        <button type="button" class="close btn btn-lightbrown" aria-label="Close"
            (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body lightbrown">
        <p-scrollPanel>
            <form class="row g-2" style="width: 95%;">
                <div class="col-md-3" *ngFor="let k of zahtevi let i = index"
                    style="text-align: center;">
                    <div class="item card c1" style="margin-left:1px; margin-right: 1px;">
                        <div class="card-body" style="position: relative;">
                            <h6 style=" font-size: 3vw; font-size: 12px;">{{k.ime}}</h6>
                            <h5 style=" font-size: 1vw; font-size: 8px; margin-left: 2px;">@{{k.kor_ime}}</h5>
                            <tr style="display: flex; justify-content: center;">
                                <i class="fa fa-check" aria-hidden="true" (click)="obradiZahtev(k,true)"></i>
                                <i class="fa fa-trash" aria-hidden="true" (click)="obradiZahtev(k,false)"></i>
                            </tr>  
                        </div>
                    </div>
                </div>
            </form>
        </p-scrollPanel>
    </div>
    <form class="row g-2 lightbrown">
        <div class="col-md-12" style="display: flex; justify-content: center;" *ngIf="zahtevi.length==0">
            <h6>Trenutno nemate novih zahteva</h6>          
        </div>
        <div class="col-md-7" >          
        </div>
        <div class="col-md-5 " style="display: flex; justify-content: center;">
            <button class="btn btn-white" style="width: 50%; margin-top: 12px; margin-bottom: 30px"
                (click)="modal.dismiss('Cross click');">Potvrdi</button>
        </div>
    </form>
</ng-template>